
{% if paginator %}
<!-- Pagination links -->
<div class="pagination">
  
  {% if paginator.next_page %}
    <a href="{{site.url}}/page{{paginator.next_page}}" class="older"><span class="mega-octicon octicon-playback-{% if site.rtl %}fast-forward{% else %}rewind{% endif %}" style="min-width: 32px;"> older posts</span></a>
  {% else %}
    <span class="next"><span class="mega-octicon octicon-playback-{% if site.rtl %}fast-forward{% else %}rewind{% endif %}" style="min-width: 32px;"> older posts </span></span>    &nbsp;&nbsp;

  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
        &nbsp;&nbsp;
      <a href="{{site.url}}/" class="newer mega-octicon" style="min-width: 32px;"> newer posts<span class="mega-octicon octicon-playback-{% if site.rtl %}rewind{% else %}fast-forward{% endif %}" style="min-width: 32px;"></span></a>
    {% else %}
      <a href="{{site.url}}/page{{paginator.previous_page}}" class="newer mega-octicon"> newer posts<span class="mega-octicon octicon-playback-{% if site.rtl %}rewind{% else %}fast-forward{% endif %}" style="min-width: 32px;"></span></a>
    {% endif %}
  {% else %}
    &nbsp;&nbsp;
<span class="previous mega-octicon"> newer posts<span class="mega-octicon octicon-playback-{% if site.rtl %}rewind{% else %}fast-forward{% endif %}" style="min-width: 32px;"></span></span>
  {% endif %}
</div>
{%  endif %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{site.google_analytics}}']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
